.registration-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.5em;
  width: 100%;
  max-width: 500px;
  padding: 0 5rem;
}

.registration-form p:nth-child(1) {
  display: block;
  height: 10px;
  margin-bottom: -0.5rem;
  color: red;
}

.registration {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 2px;
}

.registration-form input {
  resize: none;
  width: 100%;
  padding: 0 16px 0 12px;
  line-height: 30px;
  border: 1px solid #dddbda;
  border-radius: 4px;
  background-color: #fff;
  color: #080707;
  transition: border 0.1s linear, background-color 0.1s linear;

  &:focus {
    border-color: var(--primary);
    box-shadow: var(--accent) 0px 0px 5px 0px;
  }
}

.registration-label span {
  color: red;
}

.registration-buttons {
  display: flex;
  justify-content: center;
  width: 100%;
  padding-top: 1.5rem;
}

.registration-buttons .next.one {
  flex: 1;
  outline: none;
  cursor: pointer;
  border-radius: 30px;
  border: 0;
  padding: 1rem 12px;
  width: 100%;
  max-width: 300px;
  background: var(--accent);

  font-size: 16px;
  font-weight: 700;
  color: var(--background);
  text-transform: uppercase;
  letter-spacing: 1.6px;

  &:hover {
    transition: all 0.2s ease;
    box-shadow: 0 0 0 0 #fff, 0 0 0 3px var(--background);
  }
}

.registration-buttons.two {
  gap: 1rem;
}

.back-btn,
.next.two {
  outline: none;
  cursor: pointer;
  border-radius: 30px;
  border: 0;
  padding: 0.9rem 12px;
  width: 100%;
  max-width: 300px;

  font-size: 16px;
  font-weight: 700;
  color: var(--background);
  letter-spacing: 1.6px;
  text-transform: uppercase;

  &:hover {
    transition: all 0.2s ease;
    box-shadow: 0 0 0 0 #fff, 0 0 0 3px var(--background);
  }
}

.back-btn {
  background-color: var(--secondary);
  color: var(--text);
}

.next.two {
  background-color: var(--accent);
}

/* hostformtwo.jsx */
.registration-select {
  display: flex;
  gap: 10px;
}

.registration-select select,
.registration.gender select {
  resize: none;
  padding: 8px;
  line-height: 30px;
  border: 1px solid #dddbda;
  border-radius: 4px;
  background-color: #fff;
  color: #080707;
}

/* hostformthree.jsx */
.registration-select.baddress {
  padding: 0.2rem 0;
}

.registration-select.baddress select {
  width: 100%;
}

.registration-buttons.three {
  display: flex;
  gap: 1rem;
}

.registration-buttons.three .next.three {
  outline: none;
  cursor: pointer;
  border-radius: 30px;
  border: 0;
  padding: 0.1rem 12px;
  width: 100%;
  max-width: 300px;

  font-size: 16px;
  font-weight: 700;
  color: var(--background);
  background-color: var(--primary-trans);
  letter-spacing: 1.6px;
  text-transform: uppercase;

  &:hover {
    transition: all 0.2s ease;
    box-shadow: 0 0 0 0 #fff, 0 0 0 3px var(--background);
  }
}
