.about-container {
  display: flex;
  justify-content: center;
  gap: 1em;
  padding: 130px 7em 3em;
  width: 100%;
  max-width: 100%;
  flex: 0 0 45%;
  background-color: var(--background);
}

.about-details {
  display: flex;
  flex-direction: column;
  width: 800px;
  max-width: 100%;
}

.about-title {
  letter-spacing: 4px;
  text-transform: uppercase;
  color: var(--text2);
  font-weight: bold;
}

.about-description {
  color: var(--text);
  width: 65%;
  max-width: 100%;
}

.about-paragraph {
  color: var(--text2);
  font-size: 0.9rem;
  line-height: 1.5;
  width: 65%;
  max-width: 100%;
  padding: 1rem 0;
}

.about-btns {
  display: flex;
  flex-direction: row;
  gap: 0.5em;
}

.about-btns button {
  padding: 0.8rem 1.5em;
  width: fit-content;
  cursor: pointer;
  border: none;
  border-radius: 5px;

  font-weight: bold;
  font-family: "Lato";
  letter-spacing: 0.5px;
}

.learn-btn {
  color: var(--text);
  background-color: var(--secondary);
}

.book-btn {
  background-color: var(--primary);
  color: var(--background);
}

.about-img {
  display: flex;
}

.about-img > img {
  width: 100%;
  height: 400px;
  max-width: 600px;
  flex: 0 0 50%;
}

/* start of section */
.section-container {
  background-color: var(--secondary-trans);
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 2em 7em;
  width: 100%;
  max-width: 100%;
  border-radius: 5px;
  /* flex: 0 0 45%; */
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px inset,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.section-details {
  display: flex;
  flex-direction: row;
  align-content: center;
  width: 100%;
  max-width: 100%;
  gap: 5em;
}

.section-description {
  width: 500px;
  max-width: 100%;
  color: var(--text);
}

.section-paragraph {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  padding: 1em;
  width: 500px;
  max-width: 100%;

  color: var(--text2);
  font-size: 0.9rem;
  line-height: 1.5;
}

/* start of ad container */
.ad-ctr {
  display: flex;
  flex-direction: row;
  padding: 3em;
  justify-content: space-around;
}

.ad-details {
  display: flex;
  align-items: center;
  gap: 3em;
  padding: 1em 2em;
  border-radius: 5px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.ad-btn {
  padding: 0.8rem 1.5em;
  width: fit-content;
  cursor: pointer;
  border: none;
  border-radius: 5px;

  font-weight: bold;
  font-family: "Lato";
  letter-spacing: 0.5px;
  color: var(--background);
  background-color: var(--primary);
}

/* start of history */
.history-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.history-img {
  padding: 1em 0;
}

.history-img > img {
  width: 100%;
}

.history-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60%;
  max-width: 100%;
  padding: 3em 0;
}

.history-title {
  letter-spacing: 4px;
  text-transform: uppercase;
  color: var(--text2);
  font-weight: bold;
}

.history-description {
  color: var(--text);
}

.history-paragraph {
  color: var(--text2);
  font-size: 0.9rem;
  line-height: 1.5;
  padding: 1.5rem 0;
  text-align: center;
}

/* start of mission-goal container */
.mission-goal-container {
  display: flex;
  justify-content: center;
  padding: 0 7em;
  padding: 3em;
  gap: 3em;
  width: 100%;
  max-width: 100%;
  background-color: var(--secondary-trans);
  border-radius: 5px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px inset,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.mission-card,
.goal-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2em;
  gap: 1em;
  width: 40%;
  max-width: fit-content;
  background-color: var(--background);
  /* background-color: #eceaff; */
  border-top: 7px solid var(--accent);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.mission-title,
.goal-title {
  color: var(--accent);
  letter-spacing: 2px;
  font-size: 1rem;
  font-weight: bold;
}

.mission-description,
.goal-description {
  width: 250px;

  font-size: 0.8rem;
  font-weight: bold;
  color: var(--text);
  text-align: justify;
  line-height: 1.5;
}

/* start of feature */
.feature-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 2em 7em;
}

.feature-title {
  /* padding: 1em 0; */
}

.feature-card-ctr {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  /* align-items: center; */
  justify-content: center;
  padding: 1em 0;
  grid-gap: 1em;
}

.feature-card {
  display: flex;
  flex-direction: row;
  gap: 1em;
  padding: 1.5em;
  border-radius: 10px;
  transition: all 0.1s ease-in-out;
  transform: scale(0.95);

  &:hover,
  &:focus {
    transform: scale(1);
    background-color: var(--secondary);
    box-shadow: #7272729d 0px 0px 10px 5px inset;
  }
}

.feature-card svg path {
  stroke-dasharray: 10;
  stroke-dashoffset: 0;
}

.feature-card svg path {
  animation: animate 2s linear forwards;
  animation-iteration-count: infinite;
}
@keyframes animate {
  0% {
    stroke-dashoffset: 0;
  }
  40% {
    stroke-dashoffset: 80;
  }
  80% {
    stroke-dashoffset: 150;
  }
  100% {
    stroke-dashoffset: 150;
    fill: var(--accent);
  }
}

.feature-img {
  flex: none;
  width: 50px;
  height: 50px;
  fill: transparent;
  stroke-width: 0.5;
  stroke: var(--accent);
}

.feature-details {
  display: flex;
  flex-direction: column;
  gap: 1em;

  font-size: 0.8rem;
}

.feature-card:last-of-type {
  grid-column: 2/3;
}
