.login-page-main {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100dvh;
  width: 100dvw;

  background: url(/src/assets/login/background.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.login-section-container {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 3rem;

  background-color: var(--background);
  border-radius: 6px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

/* .login-section-container::before {
  position: absolute;
  content: "";
  top: 0;
  left: 50%;
  transform: translate(-50%, -60%);

  height: 80px;
  width: 80px;
  background-image: url(/src/assets/header/iconlogo.svg);
  background-size: contain;
} */

.login-section-img {
  width: 100%;
  max-width: 380px;
}

.login-section {
  position: relative;

  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem;

  min-width: 300px;

  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.login-section::before {
  position: absolute;
  content: "";
  top: 0;
  left: 50%;
  transform: translate(-50%, -60%);

  height: 50px;
  width: 50px;
  background-image: url(/src/assets/header/iconlogo.svg);
  background-size: contain;
}

.login-section-details p {
  font-size: 13px;
  color: var(--text2);
}

.login-section-details p a {
  font-weight: 700;
  color: var(--accent);
  padding: 0 2px;
}

.login-section form {
  display: flex;
  flex-direction: column;
}

.login-section form label {
  font-weight: 700;
  color: var(--text2);
}

.login-section form .login-input {
  width: 100%;
  padding: 0 16px 0 12px;
  line-height: 30px;
  border: 1px solid #dddbda;
  border-radius: 4px;
  background-color: #fff;
  color: #080707;
  transition: border 0.1s linear, background-color 0.1s linear;

  &:focus {
    border-color: var(--primary);
    box-shadow: var(--accent) 0px 0px 5px 0px;
  }
}

.login-section-email {
  display: inline-flex;
  flex-direction: column;
  gap: 0.2rem;
}

.login-section-password {
  display: flex;
  justify-content: space-between;
  padding: 1rem 0 0.2rem;
}

.login-section-password a {
  color: var(--accent);
  font-size: 11px;
  font-weight: 500;
  text-transform: capitalize;
}

.remember-me {
  display: flex;
  align-items: center;
  gap: 5px;
  text-transform: none;
  padding: 1rem 0 2rem;
  color: var(--text2);

}

.remember-me input{
  width: fit-content;
}

.login-section button {
  align-self: center;
  outline: none;
  cursor: pointer;
  border-radius: 30px;
  border: 0;
  padding: 0.8rem 12px;
  width: 100%;
  max-width: 200px;
  background: var(--accent);

  font-size: 12px;
  font-weight: 700;
  color: var(--background);
  text-transform: uppercase;
  letter-spacing: 1.6px;
  transition: all 0.2s ease;

  &:hover {
    scale: 1.1;
  }
}

@media screen and (max-width: 431px) {
  .login-page-main {
    height: auto;
  }

  .login-section-container {
    flex-direction: column;
    height: 100%;
  }
}
