.messaging-container {
  position: fixed;
  top: 0;
  left: 0;

  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--background-trans);
  width: 100vw;
  height: 100vh;

  z-index: 1005;
}

.messaging-body-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  max-width: 500px;
  height: 100%;
  max-height: 600px;

  border-radius: 10px;

  box-shadow: 0 26px 58px 0 rgba(0, 0, 0, 0.22),
    0 5px 14px 0 rgba(0, 0, 0, 0.18);
}

.messaging-title {
  align-self: flex-start;
  display: flex;
  flex-direction: row;
  align-items: center;

  gap: 0.5rem;
  width: 100%;
  padding: 1rem;

  background-color: var(--primary);
  border-top-left-radius: 10px;

  color: var(--background);
  text-transform: capitalize;
}
.messaging-title i {
  font-size: 25px;
  border: 3px solid var(--background);
  padding: 3px;
  border-radius: 50%;
}

.messaging-icon {
  position: relative;
  &::after {
    content: "";
    position: absolute;
    bottom: -2px;
    right: 0;
    height: 6px;
    width: 6px;
    background-color: var(--background);

    border: 2px solid var(--primary);
    border-radius: 50%;
    outline: 2px solid var(--background);
  }
}

.message-history-container {
  flex-grow: 1;
  display: flex;
  flex-direction: column-reverse;
  gap: 4px;

  padding: 10px;
  width: 100%;
  height: 100%;
  list-style: none;
  background-color: var(--graybg);
}

.message-history {
  padding: 6px;
  width: auto;
  max-width: 90%;
  height: auto;
}

.sender {
  align-self: flex-end;
  background-color: aqua;
}

.recipient {
  align-self: flex-start;
  background-color: rgb(240, 145, 224);
}

.messaging-control-container {
  display: flex;

  gap: 1rem;
  padding: 1rem;

  width: 100%;
}

.messaging-control-container input {
  flex-grow: 1;
  height: 40px;
}

.messaging-control-container button {
  padding: 0.5rem 1rem;

  font-weight: 700;
  color: var(--background);
  letter-spacing: 1px;
  text-transform: capitalize;

  border: none;
  border-radius: 3px;
  background-color: var(--primary);

  &:hover {
    background-color: var(--accent);
    box-shadow: 0 -20px 10px -20px rgba(0, 0, 0, 0.45) inset,
      -20px 0 10px -20px rgba(0, 0, 0, 0.45) inset;
  }
  &:active {
    scale: 0.9;
  }
}

.messaging-close-container {
  position: absolute;
  top: -10px;
  right: -5px;
}

.message-button-close {
  height: 40px;
  width: 40px;

  border: 5px solid var(--background);
  border-radius: 50%;
  outline: none;

  font-size: 20px;
  font-weight: bold;
  color: var(--background);
  background-color: #ff5f5f;

  transition: all 0.2s ease-in-out;
  scale: 1;

  &:hover {
    scale: 1.2;
  }
}
