.instant-messaging-container {
  position: fixed;
  right: 30px;
  bottom: 30px;

  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1000;
}

.messaging-chat-container {
  display: none;
  flex-direction: column;
  gap: 20px;

  padding: 10px 20px 20px;
  width: 10px;
  height: 10px;
  overflow: hidden;

  background-color: var(--primary);

  transition: width 0.5s ease-in-out, height 0.5s ease-in-out;
}

.messaging-chat-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.messaging-chat-header h2 {
  font-size: 24px;
}

.messaging-chat-header button {
  width: 40px;
  height: 40px;
}

.messaging-chat-container ul {
  flex-grow: 1;
  background-color: var(--background);
}

.message-input-container {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.message-input-container input {
  flex-grow: 1;
  height: 40px;
}

.message-input-container button {
  padding: 0 10px;
}

/* start of messaging button */
.instant-messaging-button {
  display: flex;
  flex-direction: column;
  align-items: center;

  position: relative;
  top: 5px;
  left: 10px;

  background-image: url(/src/assets/messaging/messaging.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;

  width: 60px;
  height: 60px;

  transition: all 0.2s ease-in-out;

  &:hover {
    scale: 1.1;
  }
}

.instant-messaging-box {
  display: flex;
  align-items: center;
  justify-content: center;

  transition: width 0.15s ease-in-out, height 0.15s ease-in-out;
}

/* .instant-messaging-box:hover {
  height: 54px;
  width: 66px;
  cursor: pointer;
}

.instant-messaging-box p {
  font-size: 20px;
}

.instant-messaging-tail {
  width: 0;
  height: 0;
  border-left: 12px solid transparent;

  border-top: 12px solid #d3d3d3;
} */
