.instant-messaging-container {
  position: fixed;
  right: 30px;
  bottom: 60px;

  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1000;
}

.messaging-chat-container {
  display: none;
  flex-direction: column;
  gap: 20px;

  padding: 10px 20px 20px;
  width: 10px;
  height: 10px;
  overflow: hidden;

  background-color: antiquewhite;

  transition: width 0.5s ease-in-out, height 0.5s ease-in-out;
}

.messaging-chat-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}

.messaging-chat-header h2 {
  font-size: 24px;
}

.messaging-chat-header button {
  width: 40px;
  height: 40px;
}

.messaging-chat-container ul {
  flex-grow: 1;
  background-color: aliceblue;
}

.message-input-container {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.message-input-container input {
  flex-grow: 1;
  height: 40px;
}

.message-input-container button {
  padding: 0 10px;
}

.instant-messaging-box {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 48px;
  width: 60px;
  background-color: #d3d3d3;

  border-radius: 16px;

  transition: width 0.15s ease-in-out, height 0.15s ease-in-out;
}

.instant-messaging-button {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.instant-messaging-box:hover {
  height: 54px;
  width: 66px;
  cursor: pointer;
}

.instant-messaging-box p {
  font-size: 20px;
}

.instant-messaging-tail {
  width: 0;
  height: 0;
  border-left: 12px solid transparent;

  border-top: 12px solid #d3d3d3;
}
