.venues-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  padding: 170px 7rem 3rem;
  width: 100%;
  max-width: 100%;
  flex: 0 0 45%;

  background-image: url(/src/assets/venue/background-venue.svg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  position: relative;
}

.venues-featured-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  gap: 1.5rem;

  padding: 4rem 5rem;
  width: 100%;
  max-width: 1300px;

  border-radius: 30px;

  background-color: var(--background);

  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.venues-featured-container h2 {
  text-transform: capitalize;

  color: var(--primary);
}

.venue-hero-description {
  color: var(--text2);
  font-size: 1rem;
  font-weight: 400;
  text-align: center;

  padding: 0 1rem;
  width: 100%;
  height: 100%;
  max-height: 150px;
  overflow-y: auto;

  scrollbar-width: thin;
  scrollbar-color: transparent transparent;

  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
  }
}

.venue-hero-image-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 2rem;
  gap: 1rem;
}

.venue-hero-image {
  width: 100%;
  height: 400px;
  max-width: 1000px;

  object-fit: cover;
  object-position: center;

  border-radius: 30px;

  transition: all 0.5s ease-in-out;

  &:active {
    padding: 0 1rem;
    /* object-fit: contain; */
    background-color: var(--background);
    scale: 0.8;
  }
}

.venue-hero-image-list {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 1.5rem;
  padding: 0.5rem 0;

  width: 100%;
  overflow-y: hidden;
  overflow-x: auto;
  list-style: none;

  background-color: var(--graybg);
  border-radius: 10px;

  scrollbar-width: thin;
  scrollbar-color: transparent transparent;

  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
  }
}

.venue-hero-image-list img {
  padding: 0 0.5rem;

  height: 120px;
  width: 150px;

  object-fit: contain;
  background-color: var(--background);

  transition: all 0.5s ease-in-out;

  border-radius: 5px;

  &:hover {
    border-radius: 0px;
    background-color: var(--graybg);
    scale: 1.7;
  }
}

/* venuelist */

.venues-body-container {
  display: grid;
  grid-template-columns: minmax(0, 480px) minmax(0, 800px);
  grid-gap: 3rem;
  width: 100%;

  padding: 2rem;

  justify-content: center;
  align-items: center;

  /* background-color: var(--primary2);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); */
}

.venues-body-list-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 1rem;
  width: 100%;
  height: 550px;

  padding: 2rem 0;

  overflow-y: scroll;

  background-color: var(--background);
  border-radius: 20px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);

  position: relative;

  &::-webkit-scrollbar {
    width: 0px; /* Adjust the width as needed */
  }
}

.venue-fixed {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 100%;

  position: sticky;
  top: 0;
}

.venue-fixed input {
  width: 100%;
  max-width: 400px;
  padding: 0.5rem 1rem;
}

.venues-body-venue-list-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  gap: 2rem;
  width: 100%;

  padding: 2rem 0;
}

.venues-body-venue-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  padding: 1rem;
  margin: 0 3rem;

  background-color: var(--background);
  box-shadow: 0px 4px 8px -2px rgba(9, 30, 66, 0.25),
    0px 0px 0px 1px rgba(9, 30, 66, 0.08);
}

.venues-body-venue-container {
  text-transform: capitalize;
}
.venues-body-venue-container h5 {
  color: var(--primary);
}

.venues-body-venue-details {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.venues-body-venue-header {
  display: flex;
  flex-direction: column;
}

.venues-body-venue-details img {
  width: 100%;
  height: 150px !important;

  object-fit: cover;
  object-position: center;

  background-color: var(--graybg);
}

.venues-body-venue-details p {
  padding: 0.5rem;
  height: 150px;

  font-size: 14px;
  font-weight: 300;
  text-align: justify;
  line-height: 1.3;
  text-overflow: ellipsis;
  overflow-y: auto;
  background-color: var(--graybg);
}

.venues-package-item-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  padding: 1rem;
  margin: 0 3rem;

  background-color: var(--background);
  box-shadow: 0px 4px 8px -2px rgba(9, 30, 66, 0.25),
    0px 0px 0px 1px rgba(9, 30, 66, 0.08);
}

.venues-package-item-container > h5 {
  text-transform: capitalize;
  color: var(--primary);
}

.venues-package-body-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: end;
  gap: 1rem;

  width: 100%;
}

.venues-package-body-container img {
  width: 100%;
  height: 100%;
  max-width: 250px;
  max-height: 250px;

  object-fit: cover;
  object-position: center;

  background-color: var(--graybg);

  overflow: -moz-hidden-unscrollable;

  transition: all 0.5s linear;
  &:hover {
    /* padding: 1rem 0; */
    object-fit: contain;
  }
}

.venue-inclusions {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.venue-inclusions > h5 {
  font-size: 18px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
  align-self: center;
}

.venue-package-inclusion-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  min-width: fit-content;
  max-width: 100%;
  height: 200px;

  padding: 1rem;
  overflow-y: auto;
  list-style: circle !important;
  background-color: var(--secondary2);
}

.venue-package-inclusion-container li {
  margin-left: 1rem;

  font-size: 14px;
  font-weight: 400;
}

.venue-package-description {
  width: 100%;
  padding: 1rem;

  font-size: 14px;
  font-weight: 300;
  line-height: 1.3;
  letter-spacing: 1px;
  text-align: justify;

  background-color: var(--graybg);
}

.venues-package-item-container > h5 span {
  color: var(--primary);
}

.package-item-footer {
  display: flex;
  align-items: center;
  justify-content: center;

  color: var(--text2);
}

.package-item-footer h6 {
  flex: 1;

  text-align: right;
  text-transform: uppercase;

  padding: 1rem 0;
  padding-right: 0.5rem;
  border-right: 2px solid var(--graybg);
}

.package-item-footer p {
  flex: 3;
  font-size: 15px;

  padding-left: 0.5rem;

  text-transform: capitalize;
}

.venue-search-container {
  position: fixed;
  top: 90px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 100%;
}

.venue-search-container > input {
  width: 100%;
  max-width: 1000px;
  height: 50px;

  padding: 0.5rem 2rem;

  border-radius: 20px;
}

.venue-search-list {
  display: flex;
  flex-direction: column;

  border-radius: 3px;

  width: 100%;
  max-width: 1000px;
  height: 300px;
  list-style: none;
  overflow-y: auto;

  background-color: var(--background);

  border-bottom: 1px solid lightgray;
  border-left: 1px solid lightgray;

  &::-webkit-scrollbar-thumb {
    border-radius: 10px; /* Adjust the border-radius to change the scrollbar thumb radius */
  }
}

.venue-search-list li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;

  padding: 2rem 3rem;

  transition: all 0.2s ease;

  &:hover {
    background-color: var(--primary2);
  }
}

.venue-search-list div > h5 {
  color: var(--accent);
  font-size: 1rem;
  font-weight: 600;
  text-transform: capitalize;
}

.venue-search-list div:last-of-type {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.venue-search-list div img {
  width: 100%;
  max-width: 400px;
  height: 100%;
  max-height: 200px;

  object-fit: cover;
  object-position: center;

  background-color: var(--graybg);

  transition: all 0.5s ease-in-out;
}

.venue-search-list div p {
  overflow-y: hidden;
  text-align: justify;

  font-size: 12px;
  font-weight: 300;

  width: 100%;
  max-height: 200px;
}
