.venues-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 150px 7em 5em;
  width: 100%;
  max-width: 100%;
  flex: 0 0 45%;
  background-color: var(--background);
}

.venues-featured-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  gap: 1.5rem;

  padding: 2rem;
  max-width: 800px;

  border-radius: 1rem;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4),
    0px 7px 13px -3px rgba(0, 0, 0, 0.3), inset 0px -3px 0px rgba(0, 0, 0, 0.2);
}

.venues-featured-container h2 {
  text-transform: capitalize;

  color: var(--primary);
}

.venue-hero-description {
  color: var(--text2);
  font-size: 1rem;
  font-weight: 300;
  text-align: center;

  padding: 0 1rem;
  width: 100%;
  height: 100%;
  max-height: 200px;
  overflow-y: auto;

  scrollbar-width: thin;
  scrollbar-color: transparent transparent;

  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
  }
}

.venue-hero-image-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 2rem;
  gap: 1rem;
}

.venue-hero-image {
  width: 100%;
  height: 100%;
  max-height: 300px;

  object-fit: cover;
  object-position: center;

  border-radius: 10px;

  transition: all 0.5s linear;

  &:hover{
    padding: 1rem;
    object-fit: contain;
    background-color: var(--graybg);
  }
}

.venue-hero-image-list {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 1.5rem;
  padding: 0.5rem 0;

  width: 100%;
  overflow-y: hidden;
  overflow-x: auto;
  list-style: none;

  background-color: var(--graybg);
  border-radius: 10px;

  scrollbar-width: thin;
  scrollbar-color: transparent transparent;

  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
  }
}

.venue-hero-image-list img {
  padding: 0 0.5rem;

  height: 120px;
  width: 150px;

  object-fit: contain;
  background-color: var(--background);

  transition: all 0.5s ease-in-out;

  border-radius: 5px;

  &:hover {
    border-radius: 0px;
    background-color: var(--text2);
    scale: 1.2;
  }
}

.venues-body-container {
  display: grid;
  grid-template-columns: 44% 1fr;

  gap: 60px;
  padding: 20px;
  width: 100%;
}

.venues-body-list-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 40px;
  padding: 40px 20px 60px 20px;
  width: 100%;

  background-color: azure;
}

.venues-body-list-container input {
  margin-top: 20px;
  width: 90%;
  height: 40px;
}

.venues-body-venue-list-container {
  display: flex;
  flex-direction: column;
  gap: 60px;

  padding-top: 40px;
  padding-right: 40px;

  min-height: 1200px;
  max-height: 1200px;
  overflow-y: auto;
}

.venues-body-venue-list {
  display: flex;
  flex-direction: column;
  gap: 40px;

  min-height: 400px;
  max-height: 400px;
  padding: 20px 20px 40px 20px;

  background-color: blanchedalmond;
}

.venues-body-venue-header {
  display: flex;
  flex-direction: column;
}

.venues-body-venue-list div:last-of-type {
  flex-grow: 1;

  display: flex;
  gap: 20px;
}

.venues-body-venue-list div img {
  min-width: 300px;
  min-width: 300px;
  min-height: 220px;
  max-height: 220px;

  background-color: rgb(81, 84, 87);
}

.venues-body-venue-list div p {
  flex-grow: 1;
  display: flex;

  padding: 10px 20px 10px 10px;
  min-height: 220px;
  max-height: 220px;
  overflow-y: auto;
  text-align: justify;
  text-overflow: ellipsis;
  background-color: aliceblue;
}

.venues-package-item-container {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  gap: 20px;

  padding: 20px 20px 40px 20px;
  width: 100%;
  min-height: 590px;
  max-height: 590px;
  background-color: antiquewhite;
}

.venues-package-body-container {
  display: flex;
  flex-direction: row;
  gap: 20px;

  min-height: 240px;
  max-height: 240px;
  width: 100%;
}

.venues-package-body-container img {
  min-height: 100%;
  max-height: 100%;
  min-width: 300px;
  min-width: 300px;

  background-color: rgb(81, 84, 87);
}

.venues-package-body-container div {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.venues-package-body-container ul {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;

  padding: 20px;
  height: 100%;
  overflow-y: auto;
  list-style: circle !important;
  background-color: aliceblue;
}

.venues-package-body-container ul li {
  margin-left: 40px;
}

.venue-package-description {
  padding: 20px;
  width: 100%;
  min-height: 120px;
  max-height: 120px;

  overflow-y: auto;
  text-align: justify;
  white-space: normal;
  text-overflow: ellipsis;
}

.package-item-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.venue-search-container {
  position: fixed;
  top: 80px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 100%;
}

.venue-search-container input {
  width: 1200px;
  height: 50px;
}

.venue-search-list {
  display: flex;
  flex-direction: column;
  gap: 10px;

  margin-top: 30px;

  width: 1200px;
  max-height: 600px;
  list-style: none;
  overflow-y: auto;
  background-color: azure;
}

.venue-search-list li {
  display: flex;
  flex-direction: column;
  gap: 20px;

  padding: 20px;
}

.venue-search-list li:hover {
  background-color: rgb(161, 169, 175);
}

.venue-search-list div:last-of-type {
  display: flex;
  gap: 20px;
  min-height: 140px;
  max-height: 140px;
}

.venue-search-list div img {
  min-width: 200px;
  max-width: 200px;

  background-color: rgb(81, 84, 87);
}

.venue-search-list div p {
  overflow-y: hidden;
  text-align: justify;
}
