.venue-view-container {
  position: fixed;
  top: 0;
  left: 0;

  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--background-trans);
  width: 100vw;
  height: 100vh;

  z-index: 3;
}

.venue-view-body-container {
  position: relative;
  display: flex;
  align-items: end;
  justify-content: center;

  padding-bottom: 20px;
  width: 1400px;
  height: 1000px;

  background-color: aliceblue;
}

.venue-view-body {
  display: flex;
  flex-direction: column;
  gap: 60px;

  padding: 20px;
  width: 96%;
  min-height: 90%;
  max-height: 90%;
  overflow-y: auto;

  background-color: antiquewhite;
}

.venue-view-content-container {
  display: flex;
  flex-direction: row;
  gap: 20px;
  min-height: 380px;
  max-height: 380px;
  overflow: hidden;
}

.venue-view-image-container {
  display: flex;
  width: 100%;

  gap: 20px;
}

.venue-view-image {
  width: 460px;
  object-fit: contain;
  background-color: rgb(81, 84, 87);
}

.venue-view-image-list {
  display: flex;
  flex-direction: column;
  overflow-y: auto;

  gap: 10px;
}

.venue-view-image-list img {
  min-width: 140px;
  max-width: 140px;

  min-height: 110px;
  max-height: 110px;

  object-fit: contain;
  background-color: rgb(81, 84, 87);
}

.venue-view-description {
  padding: 10px 20px 10px 10px;
  text-align: justify;
  overflow-y: auto;
  background-color: aliceblue;
}

.venue-view-package {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.venue-view-package-container {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.venue-view-package-header-main {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.venue-view-package-header-main button {
  width: 160px;
}

.venue-view-package-item {
  display: flex;
  flex-direction: column;
  gap: 20px;

  padding: 20px;
  background-color: aliceblue;
}

.venue-view-package-header {
  display: flex;
  align-items: center;
  gap: 40px;

  width: 100%;
}

.venue-view-package-book-request {
  margin-left: auto;
  height: 50px;
  padding: 0 10px;
}

.venue-view-package-body {
  display: grid;
  grid-template-columns: 32% 1fr;

  min-height: 240px;
  max-height: 240px;
  overflow-y: auto;
}

.venue-view-package-body p {
  text-align: justify;
}

.venue-view-package-body ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-height: 100%;
}

.venue-view-package-body li {
  margin-left: 50px;
}

.venue-view-button-close {
  position: absolute;
  top: 20px;
  right: 20px;

  height: 50px;
  width: 50px;
}
