.registration-container {
  display: flex;
  justify-content: space-around;
  gap: 1em;
  padding: 130px 0 3em;
  width: 100%;
  max-width: 100%;
  flex: 0 0 45%;
  background-color: var(--background);
}

.registration-container-form {
  flex: 1;
}

.registration-container-platform {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  gap: 4rem;
}

.platform-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.platform-details-ctr {
  display: grid;
  grid-gap: 0.5rem;
  grid-template-columns: repeat(3, 200px);
}

.platform-details {
  display: flex;
  flex-direction: column;
  align-items: center;

  text-align: center;

  padding: 1rem;
}

.platform-details i {
  font-size: 35px;
  color: var(--accent);
}

.platform-details p {
  font-size: 13px;
  color: var(--text2);
}

.platform-additional-details {
  display: flex;
  gap: 1rem;

  font-size: 13px;
  color: var(--text2);
}
