.registration-container {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  max-width: 100%;
  flex: 0 0 45%;
  background-color: var(--background);
}

.registration-container-form {
  flex: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;

  min-height: 100vh;
  padding: 130px 2rem 0;

  background-color: var(--primary);
  /* place-content: center; */

  color: var(--background);
}

.registration-details {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 1rem;

  width: 100%;
  max-width: 300px;
  padding-top: 2rem;
}

.registration-details a {
  color: var(--background);
}

.registration-details p:nth-child(1) {
  font-size: 13px;
  font-weight: 300;
}
.registration-details p:nth-child(2) {
  font-size: 11px;
}

.registration-container-platform {
  position: relative;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 2rem;
  padding: 130px 2rem 0;

}

.registration-container-platform::before {
  border-bottom: 17px solid transparent;
  border-right: 18px solid var(--background);
  border-top: 17px solid transparent;

  content: "";

  position: absolute;
  height: 0px;
  top: 50%;
  right: 100%;
}

.platform-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  letter-spacing: 2px;
  line-height: 1.3;
}

.platform-title span {
  padding: 0 3rem;
  text-transform: uppercase;
  font-weight: 900;
  color: var(--background);
  background: url(/src/assets/registration/blue-smudge.svg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.platform-details-ctr {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.platform-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;

  text-align: center;
  letter-spacing: 0.5px;

  padding: 1.5rem;
}

.platform-details i {
  font-size: 35px;
  color: var(--accent);
}

.platform-details p {
  width: 100%;
  font-size: 14px;
  font-weight: 300;
  color: var(--text2);
}

.platform-additional-details {
  display: flex;
  gap: 1rem;

  font-size: 13px;
  color: var(--text2);
}
