.index-container {
  width: 100%;
}

.index-article-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 100%;
  flex: 0 0 45%;
}

.index-article-container.main {
  padding: 130px 7em 3em;
  gap: 2em;
}

.index-title {
  display: flex;
  justify-self: center;
  align-self: center;
  text-align: center;
  width: 100%;
  height: fit-content;
  max-width: 1300px;
}

.title-design {
  color: var(--primary);
  position: relative;
}

.title-design::after {
  position: absolute;
  content: "";
  top: 40px;
  left: -10px;
  height: 100%;
  width: 100%;

  background: url(/src/assets/home/primary-brush-stroke.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.index-btn {
  display: flex;
  flex-direction: row;
  gap: 0.5em;
}

.index-btn button {
  padding: 0.8rem 1.5em;
  width: fit-content;
  cursor: pointer;
  border: none;
  border-radius: 20px;

  font-weight: bold;
  letter-spacing: 0.5px;

  &:hover {
    transition: all 0.2s ease-in-out;
    scale: 1.1;
  }
}

.index-btn button:nth-child(1) {
  color: var(--background);
  background-color: var(--primary);
  border: 2px solid transparent;

  &:active {
    background-color: var(--accent);
    scale: 1;
    border: 2px solid transparent;
  }
}

.index-btn button:nth-child(2) {
  color: var(--text);
  background-color: var(--background);
  border: 2px solid var(--primary);

  &:active {
    background-color: var(--accent);
    scale: 1;
    border: 2px solid transparent;
    color: var(--background);
  }
}

.index-img {
  display: block;
  border-radius: 40px;
  width: 100%;
  max-width: 1320px;
  height: auto;
}

/* second & card */
.index-article-container.second {
  padding: 4rem 7em 3em;
  gap: 0.5rem;
}

.index-article-container.second small {
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 1px;
  color: var(--text2);
}
.second h2 {
  text-align: center;
  width: 100%;
  height: fit-content;
  max-width: 1300px;
}

.index-card-container {
  display: flex;
  flex-direction: row;
  gap: 2em;

  padding: 2rem 0;
}

.index-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
  width: 100%;
  max-width: 100%;
  padding: 2rem;
  border-radius: 32px;

  box-shadow: 0 11px 15px -7px rgb(0 0 0 / 20%),
    0 24px 38px 3px rgb(0 0 0 / 14%), 0 9px 46px 8px rgb(0 0 0 / 12%);
}

.index-card-details {
  font-size: 14px;
}
.index-card-details span {
  color: var(--accent);
}

.pic-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row-reverse;
  flex-wrap: wrap;
}

.card-btn {
  display: flex;
  height: 100%;
  max-height: 100%;
}

.card-btn button {
  align-self: flex-end;

  display: inline-block;
  padding: 0.8rem 1.5em;
  cursor: pointer;

  font-weight: bold;
  letter-spacing: 0.5px;
  color: var(--text);
  background-color: var(--background);

  border: 2px solid var(--primary);
  border-radius: 20px;
  transition: all 0.2s ease-in-out;

  &:hover {
    scale: 1.05;
  }
}

.card-btn button:active {
  background-color: var(--accent);
  border: 2px solid transparent;
  color: var(--background);
}

.index-article-container.third {
  padding: 4rem 7em 3em;
  gap: 0.5rem;
}

.index-article-container.third small {
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 1px;
  color: var(--text2);
  text-align: center;
}

.index-article-container.third img {
  max-width: 100%;
  width: 100%;
}

.index-section-ctr {
  padding-top: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;

  width: 100%;
  max-width: 100%;
}

.index-section-details {
  display: flex;
  gap: 3rem;
  padding: 3rem 0;

  justify-content: center;
}

.index-section-details p {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 2rem 0;

  color: var(--text2);
  font-size: 16px;

  max-width: 400px;
  width: 100%;
  height: auto;
}

.index-section-details strong {
  color: var(--primary);
  font-family: "Source Sans 3", sans-serif !important;
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 1px;
}

.index-section-details img {
  max-width: 400px !important;
  width: 100% !important;
  height: auto;

  border-radius: 20px;
}

.index-section-details.one,
.index-section-details.three,
.index-section-details.five {
  flex-direction: row-reverse;
}

.index-article-container.third h4 {
  padding: 3rem 0;
  text-align: center;
  line-height: 2;
}

.index-article-container.third h4 span {
  color: var(--primary);
  position: relative;

  &::after {
    position: absolute;
    content: "";
    top: 20px;
    left: 0;
    height: 100%;
    width: 100%;

    background: url(/src/assets/home/primary-brush-stroke.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }
}

.index-article-container.third a {
  text-decoration: none;
  color: var(--primary);
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .index-article-container.main {
    padding: 100px 0.5rem 1rem !important;
    gap: 1.5rem;
  }
  .index-title h1 {
    font-size: 25px !important;
  }
  .title-design::after {
    top: 15px;
    left: -2px;
  }
  .index-img {
    border-radius: 20px;
  }
  .index-article-container.second {
    padding: 2rem 1rem !important;
  }
  .index-article-container.second h2 {
    font-size: 22px !important;
  }
  .index-card-container {
    flex-direction: column;
  }
  .index-card {
    justify-content: center;
    align-items: center;
  }
  .pic-btn {
    justify-content: center;
  }
  .index-article-container.third {
    padding: 2rem 0.5rem !important;
  }
  .index-section-details {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 0 1rem;
    margin-top: 2rem;
  }
  .index-section-details.one,
  .index-section-details.three,
  .index-section-details.five {
    flex-direction: column;
  }
  .index-section-details p {
    padding: 0;
    gap: 0;
  }
  .index-article-container.third h4 {
    font-size: 20px;
    line-height: 1.5;
  }
  .index-article-container.third h4 span {
    &::after {
      top: 10px;
      left: 0;
    }
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 840px) {
  .index-article-container.main {
    padding: 120px 5rem 2rem;
    gap: 1.5rem;
  }
  .index-title h1 {
    font-size: 40px;
  }
  .title-design::after {
    top: 25px;
    left: -2px;
  }
  .index-img {
    border-radius: 30px;
  }
  .index-article-container.second {
    padding: 0 5rem 2rem;
  }
  .index-article-container.second h2 {
    font-size: 25px;
  }
  .index-card-container {
    gap: 1rem;
  }
  .index-card {
    height: 100%;
    max-height: max-content ;
    flex: 1;
  }
  .pic-btn {
    justify-content: center;
    width: 100%;
  }
  .index-article-container.third {
    padding: 2rem 0.5rem;
  }
  .index-section-details {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 0 1rem;
    margin-top: 2rem;
  }
  .index-section-details.one,
  .index-section-details.three,
  .index-section-details.five {
    flex-direction: row;
  }
  .index-section-details p {
    padding: 0;
    gap: 0;
  }
  .index-article-container.third h4 {
    font-size: 20px;
    line-height: 1.5;
  }
  .index-article-container.third h4 span {
    &::after {
      top: 10px;
      left: 0;
    }
  }
}
