.error-container {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100dvh;
}

.error-container div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;

  height: fit-content;
  padding: 2rem 5rem;

  text-transform: capitalize;

  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

.no-underline {
  text-decoration: none;
}

.error-container p {
  text-align: center;
}

.error-container button {
  display: flex;
  align-items: center;

  font-size: 20px;
  font-weight: 500;
  text-transform: capitalize;
  color: var(--background);

  padding: 20px;
  margin: 20px;
  height: 40px;

  border-radius: 10px;
  border: none;

  background-color: var(--primary);

  transition: all 0.2s ease-in-out;

  &:hover{
    scale: 1.1;
  }
}
