/* Google Font Family */
@import url("https://fonts.googleapis.com/css?family=Lato:700|Poppins:400");

/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Font Color */
:root {
  --text: #020128;
  --text2: #646464;
  --background: #ffffff;
  --primary: #5e5cfa;
  --secondary: #9e9cfc;
  --accent: #0906c6;
}
:root[data-theme="dark"] {
  --text: #d9d7fe;
  --text2: #646464;
  --background: #000000;
  --primary: #0805a3;
  --secondary: #050363;
  --accent: #3c39f9;
}

.navigation-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  position: fixed;
  top: 0;

  /* height: 4rem; */
  padding: 1em 7rem;

  border-end-start-radius: 5px;
  border-end-end-radius: 5px;
  background-color: rgba(15, 6, 37, 0.7);

  box-shadow: rgba(0, 0, 0, 0.16) 0px 0px 6px, rgba(0, 0, 0, 0.23) 0px 0px 6px;
  z-index: 9;
}

.logo-container {
  padding: 10px;
  width: fit-content;
  height: fit-content;

  color: #d3d3d3;
  border: 3px solid #d3d3d3;
  cursor: pointer;
}

.navigation-links {
  display: flex;
  align-items: center;
  height: 100%;
}

.navigation-links ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2em;

  /* height: 100%; */
  list-style: none;
}

.navigation-links ul li {
  font-size: 14px;
  transition: font-size 0.15s ease-in-out;
  cursor: pointer;
}

.nav-link {
  color: #d3d3d3;
  padding: 0.73em 0;
  text-decoration: none;
}

.nav-link:hover {
  color: #d3d3d3;
  border-bottom: 2px solid #d3d3d3;
  /* font-size: 16px; */
  /* cursor: pointer; */
}

.nav-link:visited {
  color: #d3d3d3;
}

.nav-button-link {
  font-size: 14px;
  border-radius: 6px;
  padding: 4px 10px !important;
  margin: 2px;

  cursor: pointer;
  color: var(--text);
  background-color: #d3d3d3;
  /* transition: font-size 0.15s ease-in-out; */
}

.nav-button-link:hover {
  color: var(--text) !important;
  text-decoration: none !important;
}

/* login form styling */

.login-container {
  position: absolute;
  top: 100px;
  right: -410px;

  display: none;
  flex-direction: column;
  gap: 10px;

  padding: 1em 2em;
  width: 300px;
  color: #0f0625;
  background-color: var(--secondary);
  transition: right 0.3s ease-in-out;
  border-radius: 10px;
}

.login-form {
  display: flex;
  flex-direction: column;
  gap: 0.5em;

  width: 100%;
}

.login-form > a {
  align-self: flex-end;
  font-size: 0.8rem;
  text-decoration: none;
  color: var(--text);
}

.login-form > a:hover {
  color: var(--accent);
}

.login-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.login-header button {
  position: absolute;
  right: 10px;
  top: -10px;
  height: 30px;
  width: 30px;

  font-weight: bold;
}

.login-header button:hover {
  background-color: rgb(255, 150, 150);
}

.login-form input {
  padding: 0px 1em;
  height: 36px;
  border-radius: 5px;
  border: none;
}

.login-form button {
  height: 36px;
  border-radius: 5px;
}

.login-container div:last-of-type {
  text-align: right;
}

.sign-up {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.3rem;
  font-size: 0.8rem;
}

.sign-up > a {
  text-decoration: none;
}
