/* Google Font Family */
@import url("https://fonts.googleapis.com/css?family=Lato:700|Poppins:400");

/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Font Color */
:root {
  --text: #020128;
  --text2: #646464;
  --background: #ffffff;
  --primary: #5e5cfa;
  --secondary: #9e9cfc;
  --accent: #0906c6;
}
:root[data-theme="dark"] {
  --text: #d9d7fe;
  --text2: #646464;
  --background: #000000;
  --primary: #0805a3;
  --secondary: #050363;
  --accent: #3c39f9;
}

/* Body */
body {
  font-size: 20px;
  font-family: "Poppins";
  font-weight: 400;
}

/* text heading */
h1,
h2,
h3,
h4,
h5 {
  font-family: "Lato";
  font-weight: 700;
}

html {
  font-size: 100%;
} /* 16px */

/* Font Size fixed-standard */
h1 {
  font-size: 4.21rem; /* 67.36px */
}

h2 {
  font-size: 3.158rem; /* 50.56px */
}

h3 {
  font-size: 2.369rem; /* 37.92px */
}

h4 {
  font-size: 1.777rem; /* 28.48px */
}

h5 {
  font-size: 1.333rem; /* 21.28px */
}

small {
  font-size: 0.75rem; /* 12px */
}

.navigation-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;

  height: 4rem;
  padding: 0 7rem;

  border-end-start-radius: 5px;
  border-end-end-radius: 5px;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 0px 6px, rgba(0, 0, 0, 0.23) 0px 0px 6px;
}

.logo-container {
  padding: 10px;
  width: fit-content;
  height: fit-content;

  color: #d3d3d3;
  border: 3px solid #d3d3d3;
  z-index: 1;
}

.logo-container:hover {
  cursor: pointer;
}

.navigation-links {
  display: flex;
  align-items: center;
  height: 100%;
  color: #d3d3d3;
  z-index: 1;
}

.navigation-links ul {
  display: flex;
  align-items: center;
  gap: 1em;

  /* height: 100%; */
  list-style: none;
}

.navigation-links ul li {
  /* display: flex; */
  align-items: center;
  padding: 0 5px;

  height: 100%;
  font-size: 14px;
  transition: font-size 0.15s ease-in-out;
}

.navigation-links ul li button {
  font-size: 18px;
  transition: font-size 0.15s ease-in-out;
}

.navigation-links ul li:hover {
  text-decoration: underline;
  padding: 10px 10px;
  font-size: 22px;
  cursor: pointer;
}

.navigation-links ul li button:hover {
  padding: 2px;
  font-size: 22px;
  cursor: pointer;
}

/* login form styling */

.login-container {
  position: absolute;
  top: 100px;
  right: -410px;

  display: none;
  flex-direction: column;
  gap: 10px;

  padding: 20px;
  width: 400px;
  color: #0f0625;
  background-color: #d3d3d3;
  transition: right 0.3s ease-in-out;
}

.login-form {
  display: flex;
  flex-direction: column;
  gap: 10px;

  width: 100%;
}

.login-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.login-header button {
  height: 36px;
  width: 40px;
}

.login-form input {
  padding: 0px 10px;
  height: 36px;
}

.login-form button {
  height: 36px;
}

.login-container div:last-of-type {
  text-align: right;
}
