.navigation-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;

  position: fixed;
  right: 0;
  top: 0;

  /* height: 4rem; */
  padding: 0 9%;

  border-end-start-radius: 5px;
  border-end-end-radius: 5px;
  background-color: rgba(252, 250, 255, 0.955);

  box-shadow: rgba(0, 0, 0, 0.16) 0px 0px 6px, rgba(0, 0, 0, 0.23) 0px 0px 6px;
  z-index: 1000;
}

.logo-container {
  position: relative;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.logo-container img:nth-child(1) {
  width: 40px;
  padding: 10px 0;
}
.logo-container::after {
  content: "EasyGig";
  position: absolute;
  left: 105%;
  bottom: -1px;

  font-family: "Source Sans 3", sans-serif;
  font-size: 30px;
  font-weight: 900;
  letter-spacing: 1px;
  color: var(--primary);
}

.login-container .navigation-links {
  display: flex;
  align-items: center;
  height: 100%;
  width: fit-content;
  /* color: #d3d3d3; */
}

.navigation-links-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2em;

  /* height: 100%; */
  list-style: none;
}

.nav-link {
  padding: 0.2rem;
  cursor: pointer;

  color: var(--text);
  font-size: 14px;
  font-weight: 700;
  text-decoration: none;

  transition: all 0.3s ease;
  border-bottom: 3px solid transparent;

  &:hover,
  &:focus {
    color: var(--accent);
    border-bottom: 3px solid var(--accent);
    transform: translateY(-5px);
  }
}

.nav-link.book-btn {
  border: 3px solid transparent;
  border-radius: 10px;
  color: var(--background);
  background-color: var(--primary);
  cursor: pointer;

  &:hover {
    border-bottom: 3px solid var(--accent);
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
      rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  }
}

.nav-link:visited {
  text-decoration: none;
  color: #d3d3d3;
  color: var(--accent);
  border-bottom: 2px solid var(--accent);
}

/* login form styling */

.login-container {
  position: absolute;
  top: 100px;
  right: -410px;

  display: none;
  flex-direction: column;
  gap: 10px;

  padding: 1em 2em;
  width: 300px;
  color: #0f0625;
  background-color: var(--secondary);
  transition: right 0.3s ease-in-out;
  border-radius: 10px;
}

.login-form {
  display: flex;
  flex-direction: column;
  gap: 0.5em;

  width: 100%;
}

.login-form > a {
  align-self: flex-end;
  font-size: 0.8rem;
  text-decoration: none;
  color: var(--text);

  cursor: pointer;
}

.login-form > a:hover {
  color: var(--accent);
}

.login-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.login-header button {
  position: absolute;
  right: -5px;
  top: -10px;
  height: 40px;
  width: 40px;

  border: 5px solid var(--background);
  border-radius: 50%;
  outline: none;

  font-weight: bold;
  color: var(--background);
  background-color: #ff5f5f;

  transition: all 0.2s ease-in-out;
  scale: 1;
}

.login-header button:hover {
  scale: 1.2;
  color: var(--background);
}

.login-form input {
  padding: 0px 1em;
  height: 36px;
  border-radius: 5px;
  border: none;
}

.login-form button {
  padding: 0.5rem;
  border: 2px solid transparent;
  border-radius: 5px;

  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: var(--text2);

  transition: all 0.1s ease-in-out;

  &:hover {
    scale: 1.02;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }
  &:active {
    scale: 1;
  }
}

.login-container div:last-of-type {
  text-align: right;
}

.sign-up {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.3rem;
  font-size: 0.8rem;
}

.sign-up > a {
  text-decoration: none;
  color: var(--text2);

  &:hover {
    color: var(--accent);
  }
}

.profile-nav-container {
  position: relative;
}

.profile-manager-container {
  position: absolute;
  right: -20px;
  top: 50px;

  display: none;
}

.profile-manager-container ul {
  display: flex;
  flex-direction: column;

  gap: 20px !important;
  padding: 20px 10px;
  width: 200px;
  background-color: #d3d3d3;
  list-style-type: none;
}

.profile-manager-container li {
  width: 100%;
  text-align: right;
}
