/* Google Font Family */
@import url("https://fonts.googleapis.com/css?family=Lato:700|Poppins:400");

/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Font Color */
:root {
  --text: #020128;
  --text2: #646464;
  --background: #ffffff;
  --primary: #5e5cfa;
  --secondary: #9e9cfc;
  --accent: #0906c6;
}
:root[data-theme="dark"] {
  --text: #d9d7fe;
  --text2: #646464;
  --background: #000000;
  --primary: #0805a3;
  --secondary: #050363;
  --accent: #3c39f9;
}

/* Body */
body {
  font-size: 20px;
  font-family: "Poppins";
  font-weight: 400;
}

/* text heading */
h1,
h2,
h3,
h4,
h5 {
  font-family: "Lato";
  font-weight: 700;
}

html {
  font-size: 100%;
} /* 16px */

/* Font Size fixed-standard */
h1 {
  font-size: 4.21rem; /* 67.36px */
}

h2 {
  font-size: 3.158rem; /* 50.56px */
}

h3 {
  font-size: 2.369rem; /* 37.92px */
}

h4 {
  font-size: 1.777rem; /* 28.48px */
}

h5 {
  font-size: 1.333rem; /* 21.28px */
}

small {
  font-size: 0.75rem; /* 12px */
}

.about-container {
  display: flex;
  justify-content: space-evenly;
  gap: 1em;
  padding: 3em 7em;
  width: 100%;
  max-width: 100%;
  flex: 0 0 45%;
  background-color: var(--background);
}

.about-details {
  display: flex;
  flex-direction: column;
  width: 800px;
  max-width: 100%;
}

.about-title {
  letter-spacing: 4px;
  text-transform: uppercase;
  color: var(--text2);
  font-weight: bold;
}

.about-description {
  color: var(--text);
  width: 65%;
  max-width: 100%;
}

.about-paragraph {
  color: var(--text2);
  font-size: 0.9rem;
  line-height: 1.5;
  width: 65%;
  max-width: 100%;
  padding: 1rem 0;
}

.about-btns {
  display: flex;
  flex-direction: row;
  gap: 0.5em;
}

.about-btns > button {
  padding: 0.8rem 1.5em;
  width: fit-content;
  cursor: pointer;
  border: none;
  border-radius: 5px;

  font-weight: bold;
  font-family: "Lato";
  letter-spacing: 0.5px;
}

.learn-btn {
  color: var(--text);
  background-color: var(--secondary);
}

.book-btn {
  background-color: var(--primary);
  color: var(--background);
}

.about-img {
  display: flex;
}

.about-img > img {
  width: 640px;
  max-width: 100%;
  flex: 0 0 50%;
}

/* start of section */
.section-container {
  background-color: #9e9cfc87;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 2em 7em;
  width: 100%;
  max-width: 100%;
  /* flex: 0 0 45%; */
}

.section-details {
  display: flex;
  flex-direction: row;
  align-content: center;
  width: 100%;
  max-width: 100%;
  gap: 5em;
}

.section-description {
  width: 500px;
  max-width: 100%;
  color: var(--text);
}

.section-paragraph {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  padding: 1em;
  width: 500px;
  max-width: 100%;

  color: var(--text2);
  font-size: 0.9rem;
  line-height: 1.5;
}

/* start of ad container */
.ad-ctr {
  display: flex;
  flex-direction: row;
  padding: 3em;
  justify-content: space-around;
}

.ad-details {
  display: flex;
  align-items: center;
  gap: 3em;
  padding: 1em 2em;
  border-radius: 5px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.ad-btn {
  padding: 0.8rem 1.5em;
  width: fit-content;
  cursor: pointer;
  border: none;
  border-radius: 5px;

  font-weight: bold;
  font-family: "Lato";
  letter-spacing: 0.5px;
  color: var(--background);
  background-color: var(--primary);
}
