.event-editor-container {
  position: fixed;
  top: 0;
  left: 0;

  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--background-trans);
  width: 100vw;
  height: 100vh;

  z-index: 9999;
}

.event-editor-form {
  position: inherit;

  display: flex;
  flex-direction: column;
  gap: 1.5rem;

  padding: 2rem;
  min-width: 500px;
  max-width: 100%;

  background-color: var(--background);
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px,
    rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px,
    rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}

.event-place-image-container {
  display: grid;
  grid-template-rows: 1fr 80px;

  padding: 10px;
  height: 300px;
  width: 100%;
  background-color: white;

  margin-top: 10px;
}

.event-place-img {
  height: 100%;
  width: 100%;
  background-color: aquamarine;
}

.event-place-img-list {
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
}

.event-place-img-list li {
  height: 40px;
  width: 40px;
  background-color: rgb(81, 112, 112);
}

.event-manager-save-container button {
  padding: 5px 10px;

  color: var(--text);
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px;

  background-color: var(--background);
  border: 2px solid var(--primary);
  border-radius: 5px;
  outline: none;

  transition: all 0.2s ease-in-out;

  &:hover {
    background-color: var(--primary);
    color: var(--background);
    scale: 1.1;
  }

  &:active {
    scale: 1;
  }
}

.event-manager-close-container {
  position: absolute;
  top: -10px;
  right: -5px;
}

.event-manager-close-container button {
  height: 40px;
  width: 40px;

  border: 5px solid var(--background);
  border-radius: 50%;
  outline: none;

  font-weight: bold;
  color: var(--background);
  background-color: #ff5f5f;

  transition: all 0.2s ease-in-out;
  scale: 1;

  &:hover {
    scale: 1.2;
    color: var(--background);
  }
}
