.venue-package-editor-container {
  position: fixed;
  top: 0;
  left: 0;

  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--background-trans);
  width: 100vw;
  height: 100vh;

  z-index: 9991;
}

.venue-package-editor-form {
  position: inherit;

  display: flex;
  flex-direction: column;
  gap: 1rem;

  padding: 2rem;
  min-width: 500px;
  max-width: 100%;

  background-color: var(--background);
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px,
    rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px,
    rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}

.venue-package-inclusion-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  width: 100%;
}

.venue-package-inclusion-container ul {
  display: flex;
  flex-direction: column;

  width: 100%;
  height: 200px;
  max-height: 200px;

  overflow-y: scroll;
  list-style: none;
  background-color: aliceblue;
  border-radius: 5px;

  margin-top: 4px;


  &::-webkit-scrollbar {
    width: 0.5em;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #888;
  }

  &::-webkit-scrollbar-track {
    background-color: #ddd;
  }
}

.venue-package-inclusion-container ul li {
  padding: 0.5rem 1rem;
  text-transform: none;
}

.venue-package-inclusion-controls {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 10px 0;
}

.venue-package-inclusion-input {
  /* flex-grow: 1; */
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.venue-package-inclusion-buttons {
  align-self: flex-end;

  display: flex;
  gap: 1rem;
  padding: 0 1rem;
}

.venue-package-inclusion-buttons button {
  min-width: 70px;
  width: 100%;

  padding: 5px 10px;

  color: var(--background);
  font-weight: 500;
  text-transform: capitalize;

  border-radius: 5px;
  border: 1px solid transparent;

  scale: 1;
  transition: 0.1s ease-in-out;

  &:hover {
    scale: 1.1;
  }

  &:active {
    scale: 1;
  }
}

.venue-package-inclusion-buttons button:nth-child(1) {
  background-color: var(--accent-trans);
}
.venue-package-inclusion-buttons button:nth-child(2) {
  background-color: #ff5f5f;
}

.venue-package-submit-container {
  display: flex;
  justify-content: center;

  width: 100%;
}

.venue-package-submit-container button {
  padding: 5px 20px;

  color: var(--background);
  text-transform: uppercase;
  font-weight: 500;
  font-size: 15px;
  text-align: center;
  letter-spacing: 0.5px;

  background-color: var(--primary);
  border: 1px solid transparent;
  border-radius: 5px;
  outline: none;

  box-shadow: 0 -20px 10px -20px rgba(0, 0, 0, 0.45) inset,
    -20px 0 10px -20px rgba(0, 0, 0, 0.45) inset;

  transition: 0.1s ease-in-out;

  &:hover {
    scale: 1.1;
  }

  &:active {
    scale: 1;
  }
}

.venue-package-close-container {
  position: absolute;
  top: -10px;
  right: -5px;
}

.venue-package-close-container button {
  height: 40px;
  width: 40px;

  border: 5px solid var(--background);
  border-radius: 50%;
  outline: none;

  font-size: 20px;
  font-weight: bold;
  color: var(--background);
  background-color: #ff5f5f;

  transition: all 0.2s ease-in-out;
  scale: 1;

  &:hover {
    scale: 1.2;
    color: var(--background);
  }
}
