.venue-view-container {
  position: fixed;
  top: 0;
  left: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 100vw;
  height: 100vh;
  overflow: auto;
  background-color: rgba(63, 57, 57, 0.5);

  z-index: 1;
}

.upload-container {
  z-index: 2;
}

.venue-content-container {
  position: absolute;
  top: 120px;

  display: flex;
  flex-direction: column;
  gap: 20px;

  padding: 20px;
  margin-bottom: 140px;
  width: 1200px;

  background-color: antiquewhite;
}

.venue-image-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  gap: 20px;

  width: 100%;
  height: 720px;
  max-height: 700px;
  background-color: rgb(184, 197, 197);
  overflow: hidden;
}

.venue-image-main {
  width: 100%;
  height: 480px;
  object-fit: contain;
}

.venue-image-container ul {
  flex-grow: 1;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;

  list-style: none;
  width: 100%;

  overflow-y: hidden;
  overflow-x: auto;
}

.venue-image-container ul li {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 270px;
  background-color: rgb(200, 219, 238);
}

.venue-image-container ul li img {
  width: 96%;
  height: 96%;
  object-fit: contain;
}

.uplaod-image-input {
  display: none;
}

.venue-image-upload-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  gap: 20px;

  width: 1000px;
  height: 620px;
  max-height: 620px;
  background-color: rgb(184, 197, 197);
  overflow: hidden;
}

.venue-image-control-container {
  width: 100%;
}

.venue-image-upload-container img {
  flex-grow: 1;
  width: 100%;

  min-height: 90%;
  max-height: 90%;
  object-fit: contain;
  flex-shrink: 0;
  background-color: rgb(87, 90, 90);
}

.venue-image-upload-container div {
  display: flex;
  gap: 10px;
}

.venue-image-upload-container input {
}

.venue-content-close-container {
  position: absolute;
  right: 20px;
}

.venue-content-close-container button {
  height: 40px;
  width: 40px;
}
