.venue-package-editor-container {
  position: fixed;
  top: 0;
  left: 0;

  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(63, 57, 57, 0.5);
  width: 100vw;
  height: 100vh;

  z-index: 2;
}

.venue-package-editor-form {
  position: inherit;

  display: flex;
  flex-direction: column;
  gap: 20px;

  padding: 60px;
  width: 1000px;
  background-color: antiquewhite;
}

.venue-package-editor-form label {
  font-size: 18px;
}

.venue-package-editor-form input {
  height: 40px;
}

.venue-package-inlcusion-container {
  display: flex;
  flex-direction: column;
  gap: 30px;

  width: 100%;
}

.venue-package-inlcusion-container ul {
  display: flex;
  flex-direction: column;
  gap: 19px;

  width: 100%;
  height: 200px;
  max-height: 200px;

  overflow-y: scroll;
  list-style: none;
  background-color: aliceblue;

  padding: 4px 4px;
}

.venue-package-inlcusion-container ul li {
  display: flex;
  align-items: center;

  height: 40px;
}

.venue-package-inclusion-controls {
  display: flex;
  justify-content: flex-end;
  gap: 20px;

  padding: 10px;
}

.venue-package-inclusion-input {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.venue-package-inclusion-controls button {
  height: 60px;
  width: 160px;
}

.venue-package-submit-container {
  display: flex;
  justify-content: center;

  padding-top: 60px;
  width: 100%;
}

.venue-package-submit-container button {
  height: 60px;
  width: 160px;
}

.venue-package-close-container {
  position: absolute;
  top: 40px;
  right: 40px;
}

.venue-package-close-container button {
  height: 40px;
  width: 40px;
}
