.venue-package-view-container {
  position: fixed;
  top: 0;
  left: 0;

  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--background-trans);
  width: 100vw;
  height: 100vh;

  z-index: 9990;
}

.venue-package-view {
  position: inherit;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 2rem;
  width: 100%;
  max-width: 700px;

  background-color: var(--background);
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px,
    rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px,
    rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}

.venue-package-list-container {
  display: flex;
  flex-direction: column;

  width: 100%;
  max-width: 700px;
  gap: 0.5rem;
  padding: 1rem;
}

.venue-package-list-container h5 {
  text-transform: capitalize;
}

.venue-package-list-container ul {
  display: flex;
  flex-direction: column;

  width: 100%;
  gap: 1rem;
}

.venue-package-list-container ul li {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;

  padding: 1rem;

  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.02),
    0px 0px 0px 1px rgba(27, 31, 35, 0.15);
}

.venue-packages-details {
  display: flex;
  flex-direction: column;
}

.venue-packages-details p {
  height: 150px;
  padding-right: 1rem;

  font-size: 0.9rem;
  text-align: justify;
  color: var(--text2);

  overflow-y: auto;
}

.venue-package-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 0.8rem;
}

.venue-package-buttons h5 {
  font-size: 17px;
  width: max-content;
}

.venue-package-buttons button {
  padding: 5px 20px;

  color: var(--background);
  text-transform: uppercase;
  font-weight: 500;
  font-size: 15px;
  text-align: center;
  letter-spacing: 0.5px;

  border: 1px solid transparent;
  border-radius: 5px;
  outline: none;

  box-shadow: 0 -20px 10px -20px rgba(0, 0, 0, 0.45) inset,
    -20px 0 10px -20px rgba(0, 0, 0, 0.45) inset;

  transition: 0.1s ease-in-out;

  &:hover {
    scale: 1.1;
  }

  &:active {
    scale: 1;
  }
}

.venue-package-buttons button:nth-child(3) {
  background-color: #ff5f5f;
}
.venue-package-buttons button:nth-child(2){
  background-color: var(--primary);
}

.package-view-close-container {
  position: absolute;
  top: -10px;
  right: -5px;
}

.package-view-close-container button {
  height: 40px;
  width: 40px;

  border: 5px solid var(--background);
  border-radius: 50%;
  outline: none;

  font-size: 20px;
  font-weight: bold;
  color: var(--background);
  background-color: #ff5f5f;

  transition: all 0.2s ease-in-out;
  scale: 1;

  &:hover {
    scale: 1.2;
    color: var(--background);
  }
}
