.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 5rem;
}

.footer-cta {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
  padding: 2rem 4rem;
  margin: 0 10rem 5rem;
  background-image: url(/src/assets/footer/footer-doodle.svg),
    url(/src/assets/footer/footer-doodle-zigzag.svg);
  background-position: right, left;
  background-size: contain;
  background-color: var(--accent-trans);
  background-repeat: no-repeat;
  background-blend-mode: color-dodge;
  border-radius: 3px;

  box-shadow: 10px 10px 0px 0px var(--accent);
}

.footer-cta-details {
  color: var(--text);

  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 1em;
}

.footer-cta-btn {
  padding: 0.8rem 3em;
  width: fit-content;
  cursor: pointer;
  border: none;
  border-radius: 5px;

  font-weight: bold;
  font-family: "Lato";
  letter-spacing: 0.5px;
  color: var(--text2);

  &:hover {
    transition: all 0.1s ease;
    box-shadow: 3px 3px 6px 0px #ccdbe8 inset,
      -3px -3px 6px 1px rgba(130, 130, 130, 0.502) inset;
  }
}

.footer-cta-img {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: -10rem;
}

.footer-cta-img img:nth-child(1) {
  width: 120px;
  height: 120px;
  object-fit: cover;
  border: 5px solid var(--background);
  border-radius: 50%;

  position: relative;
  top: -80px;
  left: 70%;
  z-index: 20;
}

.footer-cta-img img:nth-child(2) {
  position: relative;
  width: 100%;
  max-width: 600px;
  top: -100px;
}

.footer-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 2em;
  width: 100%;
  max-width: 100%;
  padding: 3rem 0;
}

.footer-about-container {
  display: flex;
  flex-direction: column;
  gap: 1em;

  width: 100%;
  max-width: 300px;

  color: var(--text2);
}

.social-links {
  display: flex;
  gap: 0.5rem;
}

.social-links a {
  background-color: blanchedalmond;
  padding: 5px 10px;

  text-decoration: none;
  font-size: 15px;
  color: var(--text);
}

.footer-page-links {
  display: flex;
  flex-direction: column;
  letter-spacing: 1px;
  line-height: 2;
}

.footer-page-links a {
  text-decoration: none;
  color: var(--text2);
  font-size: 12px;
  letter-spacing: 0;
}

.footer-newsletter {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 250px;
  gap: 0.2em;
  color: var(--text2);
}

.footer-newsletter p {
  line-height: 2;
  letter-spacing: 1px;
  font-size: 12px;
}

.newsletter-input{
  display: flex;
}

.footer-copyright{
  font-size: 12px;
  padding: 0 0 2rem;
}
