.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 5rem;
  gap: 5em;
}

.footer-cta {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
  padding: 2rem 4rem;
  margin: 0 10rem;
  background-color: var(--accent-trans);
  border-radius: 3px;

  box-shadow: 10px 10px 0px 0px var(--accent);
}

.footer-cta-details {
  color: var(--text);

  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 1em;
}

.footer-cta-btn {
  padding: 0.8rem 3em;
  width: fit-content;
  cursor: pointer;
  border: none;
  border-radius: 5px;

  font-weight: bold;
  font-family: "Lato";
  letter-spacing: 0.5px;
  color: var(--text2);

  &:hover {
    transition: all 0.1s ease;
    box-shadow: 3px 3px 6px 0px #CCDBE8 inset, -3px -3px 6px 1px rgba(130, 130, 130, 0.502) inset;
  }
}

.footer-cta-img {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: -10rem;
}

.footer-cta-img img:nth-child(1) {
  width: 120px;
  height: 120px;
  object-fit: cover;
  border: 5px solid var(--background);
  border-radius: 50%;

  position: relative;
  top: -80px;
  left: 70%;
  z-index: 20;
}

.footer-cta-img img:nth-child(2) {
  position: relative;
  width: 100%;
  max-width: 600px;
  top: -100px;
}

.footer-container {
  position: relative;
  display: flex;
  flex-wrap: wrap;

  padding: 20px;
  height: 100px;
  width: 100%;

  font-size: 20px;
  background-color: var(--background);
}

.footer-main-container {
  display: flex;
  flex-wrap: wrap;
  gap: 0 20px;

  max-width: 700px;
  color: var(--text);
  z-index: 1;
}

.footer-main-container a {
  text-decoration: none;
  color: #d3d3d3;
}
