.footer {
  flex-grow: 1;
  display: flex;
  align-items: flex-end;
  width: 100%;
}

.footer-container {
  position: relative;
  display: flex;
  flex-wrap: wrap;

  padding: 20px;
  height: 100px;
  width: 100%;
  max-width: 1980px;

  font-size: 20px;
  background-color: rgba(15, 6, 37, 0.7);
}

.footer-main-container {
  display: flex;
  flex-wrap: wrap;
  gap: 0 20px;

  max-width: 700px;
  color: #d3d3d3;
  z-index: 1;
}

.footer-main-container a {
  text-decoration: none;
  color: #d3d3d3;
}
