.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 5rem;
  gap: 2em;
}

.footer-cta {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
  padding: 2rem 4rem;
  margin: 0 10rem 7rem;
  background-image: url(/src/assets/footer/footer-doodle.svg),
    url(/src/assets/footer/footer-doodle-zigzag.svg);
  background-position: right, left;
  background-size: contain;
  background-color: var(--accent-trans);
  background-repeat: no-repeat;
  background-blend-mode: color-dodge;
  border-radius: 3px;

  box-shadow: 10px 10px 0px 0px var(--accent);
}

.footer-cta-details {
  color: var(--text);

  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 1em;
}

.footer-cta-btn {
  padding: 0.8rem 3em;
  width: fit-content;
  cursor: pointer;
  border: none;
  border-radius: 5px;

  font-weight: bold;
  letter-spacing: 0.5px;
  color: var(--text1);

  &:hover {
    transition: all 0.1s ease;
    transform: translateY(-2px);
  }
}

.footer-cta-img {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: -10rem;
}

.footer-cta-img img:nth-child(1) {
  width: 120px;
  height: 120px;
  object-fit: cover;
  border: 5px solid var(--background);
  border-radius: 50%;

  position: relative;
  top: -80px;
  left: 70%;
  z-index: 20;
}

.footer-cta-img img:nth-child(2) {
  position: relative;
  width: 100%;
  max-width: 600px;
  top: -100px;
}

.footer-gap {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.footer-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 2em;
  width: 100%;
  max-width: 100%;
  padding: 2rem 0;
  background-color: #3586ff;
}

.footer-about-container {
  display: flex;
  flex-direction: column;
  gap: 1em;

  width: 100%;
  max-width: 300px;

  color: var(--background);
}

.social-links {
  display: flex;
  gap: 0.5rem;
}

.social-links a {
  display: inline-block;
  padding: 5px 10px;

  text-decoration: none;
  font-size: 20px;
  color: var(--background);

  transition: 0.5s;

  &:hover {
    transform: translateY(-5px);
  }
}

.footer-page-links {
  display: inline-flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1rem;
  letter-spacing: 1px;
  color: var(--background);
}

.footer-page-links a {
  position: relative;
  text-decoration: none;
  color: var(--background);
  font-size: 12px;
  letter-spacing: 0;
  cursor: pointer;
}

.footer-newsletter {
  display: flex;
  flex-direction: column;
  gap: 0.2em;
  color: var(--background);
}

.footer-newsletter h6,
.footer-page-links h6 {
  width: fit-content;
}

.footer-newsletter p {
  max-width: 250px;
  line-height: 2;
  letter-spacing: 1px;
  font-size: 12px;
  color: var(--background);
}

.newsletter-input {
  display: flex;
  flex-direction: row;
}

.newsletter-input input {
  resize: none;
  width: 100%;
  padding: 0 16px 0 12px;
  line-height: 30px;
  border: 1px solid #dddbda;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  background-color: #fff;
  color: rgb(8, 7, 7);
  transition: border 0.1s linear, background-color 0.1s linear;

  &:focus {
    border-color: var(--accent);
    box-shadow: var(--accent) 0px 0px 5px 0px;
  }
}

.newsletter-input button {
  padding: 1px 6px;
  line-height: 30px;
  font-weight: bold;
  font-size: 12px;
  color: var(--background);
  background-color: var(--accent-trans);
  outline: none;
  border: none;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  opacity: 0.9;

  &:hover {
    opacity: 1;
    transition: all 0.1s;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
      rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
      rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    scale: 1.05;
  }
}

.footer-copyright {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;

  padding-bottom: 1rem;
  font-size: 12px;
  background-color: #3586ff;
  color: var(--background);
}

/* waves */
.footer-waves {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 100%;
  height: 100px;
  position: absolute;
}
.footer-waves .wave {
  position: absolute;
  top: -100px;
  width: 100%;
  height: 100px;
  background: url(/src/assets/footer/wave.png);
  background-size: 1000px 100px;
}

.footer-waves .wave#wave1 {
  z-index: 50;
  opacity: 1;
  bottom: 0;
  animation: animateWave 4s linear infinite;
}
.footer-waves .wave#wave2 {
  z-index: 49;
  opacity: 0.5;
  bottom: 10px;
  animation: animateWave_02 4s linear infinite;
}
.footer-waves .wave#wave3 {
  z-index: 50;
  opacity: 0.2;
  bottom: 15px;
  animation: animateWave 3s linear infinite;
}
.footer-waves .wave#wave4 {
  z-index: 49;
  opacity: 0.7;
  bottom: 20px;
  animation: animateWave_02 3s linear infinite;
}

@keyframes animateWave {
  0% {
    background-position-x: 1000px;
  }
  100% {
    background-position-x: 0;
  }
}
@keyframes animateWave_02 {
  0% {
    background-position-x: 0;
  }
  100% {
    background-position-x: 1000px;
  }
}

/* underline */
.underline {
  display: flex;
  width: auto;
  height: 5px;
  background-color: var(--text2);
  border-radius: 3px;
  position: relative;
  overflow: hidden;
}

.underline span {
  width: 20px;
  height: 100%;
  background-color: var(--background);
  border-radius: 3px;
  position: absolute;
  left: 80px;

  animation: moving 2s linear infinite;
}

@keyframes moving {
  0% {
    left: -20px;
  }
  100% {
    right: 100%;
  }
}
