/* .app-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  background-image: url(./assets/sample-bg.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  max-width: 100vw;

  min-height: 100vh;
  overflow: hidden;

  z-index: -1;
} */

.app-container {
  display: flex;
  flex-direction: column;
  max-width: 100vw;
  min-height: 100vh;
  height: 100%;
  width: 100%;

  overflow-y: auto;
  overflow-x: hidden;
}
