/* Google Font Family */
/* @import url("https://fonts.googleapis.com/css?family=Lato:700|Poppins:400"); */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Source+Sans+3:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"); /* reset */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::-webkit-scrollbar {
  width: 9px;
}

*::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

*::-webkit-scrollbar-thumb {
  background-color: rgba(51, 51, 51, 0.5);
}

/* Font Color */
:root {
  --text: #00040a;
  --text2: #646464;
  --background: #ffffff;
  --primary: #3385ff;
  --secondary: #b4eeee;
  --accent: #3434cb;

  --primary2: #e0edfe;
  --secondary2: #f1fcfd;
  --accent2: #ebf2fe;

  --background-trans: #ffffffae;
  --primary-trans: #3385ffc3;
  --secondary-trans: #b4eeee84;
  --accent-trans: #3434cbab;
  --graybg: #f2f2f3;
}
:root[data-theme="dark"] {
  --text: #fcfaff;
  --text2: #646464;
  --background: #020005;
  --primary: #a54103;
  --secondary: #280264;
  --accent: #36fc82;
}

/* Body */
body {
  font-size: 20px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

/* text heading */
h1,
h2,
h3,
h4,
h5 {
  font-family: "Source Sans 3", sans-serif;
  font-weight: 700;
}

html {
  font-size: 100%;
} /* 16px */

/* Font Size fixed-standard */
h1 {
  font-size: 4.21rem; /* 67.36px */
}

h2 {
  font-size: 3.158rem; /* 50.56px */
}

h3 {
  font-size: 2.369rem; /* 37.92px */
}

h4 {
  font-size: 1.777rem; /* 28.48px */
}

h5 {
  font-size: 1.333rem; /* 21.28px */
}

small {
  font-size: 0.75rem; /* 12px */
}

button {
  font-family: "Roboto", sans-serif;
}

/* textarea and input */
input {
  line-height: 30px;
  padding: 0 12px;
}

textarea {
  padding: 10px 12px;
}

input,
textarea {
  resize: none;
  width: 100%;

  font-family: "Roboto", sans-serif;
  letter-spacing: 0.1px;
  color: #080707;
  background-color: #fff;

  outline: none;
  border: 1px solid #dddbda;
  border-radius: 4px;
  transition: border 0.5s linear, background-color 0.5s linear;

  &:focus {
    border-color: var(--primary);
    box-shadow: var(--accent) 0px 0px 5px 0px;
  }
}

option {
  text-transform: capitalize;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  html {
    font-size: 100%;
  } /* 16px */

  h1 {
    font-size: 1.382rem; /* 22.08px */
  }

  h2 {
    font-size: 1.295rem; /* 20.8px */
  }

  h3 {
    font-size: 1.214rem; /* 19.36px */
  }

  h4 {
    font-size: 1.138rem; /* 18.24px */
  }

  h5 {
    font-size: 1.067rem; /* 17.12px */
  }

  small {
    font-size: 0.937rem; /* 15.04px */
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 768px) {
  html {
    font-size: 100%;
  } /* 16px */

  h1 {
    font-size: 1.802rem; /* 28.8px */
  }

  h2 {
    font-size: 1.602rem; /* 25.6px */
  }

  h3 {
    font-size: 1.424rem; /* 22.72px */
  }

  h4 {
    font-size: 1.266rem; /* 20.32px */
  }

  h5 {
    font-size: 1.125rem; /* 18.08px */
  }

  small {
    font-size: 0.889rem; /* 14.24px */
  }
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 840px) {
  html {
    font-size: 100%;
  } /* 16px */

  h1 {
    font-size: 3.053rem; /* 48.8px */
  }

  h2 {
    font-size: 2.442rem; /* 39.04px */
  }

  h3 {
    font-size: 1.954rem; /* 31.2px */
  }

  h4 {
    font-size: 1.563rem; /* 24.96px */
  }

  h5 {
    font-size: 1.25rem; /* 20px */
  }

  small {
    font-size: 0.8rem; /* 12.8px */
  }
}
