/* Google Font Family */
@import url("https://fonts.googleapis.com/css?family=Lato:700|Poppins:400");

/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Font Color */
:root {
  --text: #020128;
  --text2: #646464;
  --background: #ffffff;
  --primary: #5e5cfa;
  --secondary: #9e9cfc;
  --accent: #0906c6;
}
:root[data-theme="dark"] {
  --text: #d9d7fe;
  --text2: #646464;
  --background: #000000;
  --primary: #0805a3;
  --secondary: #050363;
  --accent: #3c39f9;
}

/* Body */
body {
  font-size: 20px;
  font-family: "Poppins";
  font-weight: 400;
  scroll-behavior: smooth;
}

/* text heading */
h1,
h2,
h3,
h4,
h5 {
  font-family: "Lato";
  font-weight: 700;
}

html {
  font-size: 100%;
} /* 16px */

/* Font Size fixed-standard */
h1 {
  font-size: 4.21rem; /* 67.36px */
}

h2 {
  font-size: 3.158rem; /* 50.56px */
}

h3 {
  font-size: 2.369rem; /* 37.92px */
}

h4 {
  font-size: 1.777rem; /* 28.48px */
}

h5 {
  font-size: 1.333rem; /* 21.28px */
}

small {
  font-size: 0.75rem; /* 12px */
}
