.index-article-container {
  display: grid;
  grid-template-columns: 1fr auto;
  justify-content: center;

  margin: 40px;
  width: calc(100% - 180px);
  background-color: aliceblue;
}

.index-article {
  display: flex;
  flex-direction: column;
  gap: 20px;

  padding: 20px 20px 20px 80px;
  max-width: 900px;
}

.index-article h2 {
  font-size: 50px;
}

.index-article h3 {
  font-size: 36px;
}

.index-article p {
  font-size: 24px;
  text-align: justify;
}

.index-article div {
  flex-grow: 1;
  display: flex;
  gap: 20px;
  justify-content: flex-end;
  align-items: flex-end;
}

.index-article div button {
  padding: 10px;
  height: 40px;
  font-size: 20px;
}

.index-article-container img {
  grid-column: 2 / 3;

  content: url("https://dummyimage.com/640x480/000/fff.png&text=image+640x480");
}

.left img {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.left div {
  grid-column: 2/ 3;
}

.left .index-article {
  padding: 20px 80px 20px 20px;
}
