.venue-manager-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  place-items: center;
  gap: 1em;
  padding: 130px 7em 5em;
  width: 100%;
  max-width: 100%;
  flex: 0 0 45%;
}

.venue-manager-header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;

  padding: 1rem;

  color: var(--background);
  letter-spacing: 1px;

  background: linear-gradient(to right, var(--primary), var(--secondary));
  border-radius: 10px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15), 0 2px 2px rgba(0, 0, 0, 0.15),
    0 4px 4px rgba(0, 0, 0, 0.15), 0 8px 8px rgba(0, 0, 0, 0.15);
}

.venue-manager-header-container button {
  padding: 0.8rem 1.5em;
  width: fit-content;
  cursor: pointer;

  border: none;
  background-color: var(--secondary);
  border-radius: 20px;

  color: var(--background);
  font-weight: bold;
  letter-spacing: 0.5px;

  box-shadow: inset 2px 2px 10px rgba(255, 255, 255, 0.1),
    inset -5px -8px 8px rgba(0, 0, 0, 0.2);

  transition: all 0.2s ease-in-out;

  &:hover {
    scale: 1.1;
  }

  &:active {
    scale: 0.9;
  }
}

.venue-manager-venues-container {
  display: grid;
  grid-template-columns: 1fr 1fr;

  gap: 80px;
}
