.host-user-main {
  height: 100dvh;
  padding: 120px 7rem 3rem;

  background-color: var(--background);
  background-image: url(/src/assets/dashboard/dashboard-bg.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.host-home-main {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas:
    "transaction transaction notification"
    "transaction transaction message";

  height: 100%;
  width: 100%;
  max-width: 100%;

  grid-gap: 1rem;
}

.transaction-container {
  grid-area: transaction;

  display: flex;
  flex-direction: column;

  padding: 1rem 2rem 2rem;

  width: 100%;
  min-width: 100%;
  max-width: 100%;

  border-radius: 5px;
  background-color: var(--primary);
  box-shadow: 0px 50px 100px -20px rgba(50, 50, 93, 0.25),
    0px 30px 60px -30px rgba(0, 0, 0, 0.3),
    inset 0px -2px 6px 0px rgba(10, 37, 64, 0.35);
}

.transaction-container h4 {
  color: var(--background);
}
.transaction-container h4 i {
  font-weight: normal;
}

.transaction-container-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;

  padding: 1rem;
  width: 100%;

  list-style: none;

  border-radius: 5px;
  background-color: var(--background);
  overflow: auto;

  &::-webkit-scrollbar {
    width: 0;
  }
}

.transaction-container-list li {
  position: relative;

  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 1.5rem;
  /* height: 220px; */
  background-color: var(--primary2);
  border: 1px groove;

  width: 100%;
}

.transaction-container-list li h5 {
  font-size: 17px;
  font-weight: 700;
}
.transaction-container-list li p {
  font-size: 14px;
  color: var(--text2);
}

.transaction-status {
  position: absolute;
  top: 5px;
  right: 5px;

  text-transform: uppercase;
  color: var(--accent);
}

.transaction-booking-controls {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 1rem;
}

.transaction-booking-controls button {
  height: 40px;
  width: 100px;

  outline: none;
  border: none;

  font-weight: 700;

  border-radius: 10px;

  &:hover {
    box-shadow: -12px -8px 40px rgba(70, 70, 70, 0.5) inset;
  }
  &:active {
    scale: 0.9;
  }
}

.transaction-booking-controls button:nth-child(1) {
  background-color: #ff5f5f;
}

.transaction-booking-controls button:nth-child(2) {
  color: var(--background);
  background-color: var(--primary);
}

.notification-container {
  grid-area: notification;
  display: flex;
  flex-direction: column;

  padding: 1rem;
  min-width: 100%;
  min-width: 100%;
  min-height: 100%;
  max-height: 100%;

  border-radius: 5px;
  background-color: var(--primary);
  box-shadow: 0px 50px 100px -20px rgba(50, 50, 93, 0.25),
    0px 30px 60px -30px rgba(0, 0, 0, 0.3),
    inset 0px -2px 6px 0px rgba(10, 37, 64, 0.35);
}
.notification-container > h5 {
  color: var(--background);
}
.notification-container i {
  font-weight: normal;
}

.notification-container-list {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;

  width: 100%;
  border-radius: 5px;

  overflow-y: auto;
}

.notification-container-list li {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  padding: 0.2rem 0.5rem;
  background-color: var(--background);

  &:hover {
    background-color: var(--graybg);
    border-radius: 5px;
  }
}
.notification-container-list li h5 {
  font-size: 17px;
  text-transform: capitalize;
}

.notification-container-list li p:first-of-type {
  text-wrap: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  font-size: 13px;
  color: var(--text);
}

.notification-container-list small {
  font-size: 11px;
  color: var(--text2);
}

.message-container {
  grid-area: message;
  display: flex;
  flex-direction: column;

  padding: 1rem;

  min-height: 100%;
  max-height: 100%;

  border-radius: 5px;

  background-color: var(--primary);
  box-shadow: 0px 50px 100px -20px rgba(50, 50, 93, 0.25),
    0px 30px 60px -30px rgba(0, 0, 0, 0.3),
    inset 0px -2px 6px 0px rgba(10, 37, 64, 0.35);
}
.message-container h5 {
  color: var(--background);
  font-weight: 600;
}

.message-container i {
  font-weight: normal;
}

.message-container ul {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 0.2rem;

  list-style-type: none;

  border-radius: 5px;

  overflow: auto;
}

.message-container ul li {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  padding: 0.2rem 0.5rem;

  background-color: var(--background);

  &:hover {
    background-color: var(--graybg);
  }
}

.message-container small {
  font-size: 11px;
  color: var(--text2);
}

.message-container ul li h4 {
  text-transform: capitalize;
  font-size: 18px;
}
.message-container ul li p {
  font-size: 13px;
  color: var(--text);
}
